<div>
  <div style="display: inline-block">
    <div>
      <p id="annotation_view">{{ text }}</p>
    </div>
    <button (click)="annotateWithTag('b')">Bold</button>
    <button (click)="annotateWithTag('i')">Italic</button>
    <button (click)="annotateLinked('city')">Set link to city</button>
    <button (click)="annotateLinked('person')">Set link to person</button>

    <button (click)="editText()">Edit</button>
  </div>

  <div style="display: inline-block">
    <app-viewer>
    </app-viewer>
  </div>
</div>

<app-standoff-list>
</app-standoff-list>
