<h4>
  Standoff elements
</h4>
<table>
  <tr>
    <th>
      Annotated text
    </th>
    <th>
      Tag
    </th>
    <th>
      Property
    </th>
    <th>
      Link
    </th>
    <th>
      Start
    </th>
    <th>
      End
    </th>
    <th>
      Actions
    </th>
  </tr>

  <tr *ngFor="let s of standoff">
    <td>
     <!-- {{ text.substring(s.startIndex, s.endIndex) }} -->
    </td>
    <td>
      {{ s.tag }}
    </td>
    <td>
      {{ s.propertyName }}
    </td>
    <td>
      -
    </td>
    <td>
      {{ s.startIndex }}
    </td>
    <td>
      {{ s.endIndex }}
    </td>
    <td>
      <button (click)="deleteTag(s.iri)">Delete</button>
    </td>

    <!-- FIXME variable not updating after variable changes -->
  </tr>
</table>
